body{
    margin: 0;
    font-family: 'Arimo', sans-serif;    
    color: #444444;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 25px;
}
.center-text{
    text-align: center;
}
span{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.top-image-size{
    width: 90%;
}
.middle-image-size{
    width: 55.5%;
    margin-top: 6px;
    margin-left: 100px;
}
.margin-top{
    margin-top: 3%;
}
.button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, tomato, red);
    border-radius: 50px;
    padding: 10px 40px;
    color: white;
    font-size: 20px;
    
}
.about{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.margin-top-right{
    margin-top: 80px;
    margin-right: 80px;
}
.recipe-intro{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
.box-padding{
    padding-left: 20px;
    padding-right: 20px;
}
.create-box{
    border: 1px solid #dbdada;
    border-radius: 20px;
    padding: 10px;
    width: 510px;
    margin-left: 65px;
    box-shadow: 2px 2px 2px 2px #eeecec;
}
.image-size{
  border-radius: 20px;
  padding: 5px;
  width: 500px;
}
.single-box{
    border: 1px solid #dbdada;
    border-radius: 20px;
    text-align: center;
    margin-top: 80px;
    margin-left: 65px;
    margin-right: 65px;
    box-shadow: 3px 3px 3px 3px #e7e5e5;
}
footer{
    text-align: center;
    margin-top: 80px;
    background-color: #030324;
    padding: 3%;
}
.footer-color{
    color: white;
}