body{
    margin: 0;
    font-family: 'Arimo', sans-serif;    
    color: #444444;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
}
p{
    font-size: 25px;
}
span{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.top-image-size{
    width: 90%;
}
.middle-image-size{
    width: 55%;
    margin-top: 6px;
    margin-left: 100px;
}
.margin-top{
    margin-top: 3%;
}
.button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, tomato, red);
    border-radius: 50px;
    padding: 10px 40px;
    color: white;
    font-size: 20px;
    
}
.about{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.margin-top-right{
    margin-top: 80px;
    margin-right: 80px;
}